body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    text-align: center;
}

.logo {
    max-width: 800px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 48px;
}
